.App {
	text-align: left;
	background-color: #C1EBE7;
	/* background-color: #999999; */
	color: #C1EBE7;
	height: 100vh;
	

	/*
	primary: #999999 background
	secondary: #48615D boxes
	text: #C1EBE7 text
48615D
48615D
c2c2c2
	*/
}

h1 {
	color: #333333;
	font-size: 3rem;
	font-weight: 800;
	text-align: center;
	margin: 20px;
}
h2 {
	font-size: 2rem;
	font-weight: 700;
	margin: 5px;
} 

h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 3px;
}


h4 {
	font-size: 1.2rem;
	font-weight: 500;
	margin: 3px;
}

p {
	font-size: 1rem;
	font-weight: 400;
}

