.DiaryPage {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.formModal {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
}