.DiaryPage {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    /* max-width: 1300px; */
}

.formModal {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.open-form-button {
    border: none;
	border-radius: 12px;
    align-self: flex-end; 
    /* align-self: self-end; */
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;

	background-color: #b5d99c;

	padding: 15px 32px;
	/* margin-top: 8px; */
    /* margin-bottom: 8px; */
    margin: 8px 0;
	cursor: pointer;

}
.content-container {
display: flex;
flex-direction: column;
align-items: center;
max-width: 1200px;


}

