.FormPage {
	display: inline-flex;
	flex-direction: column;
	width: 300px;
	padding: 10px;
	background-color: #f1f1f3; 
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	border-radius: 16px;
	/* font: inherit; */
}

label {
	/* margin: 6px 0 ; */
	margin-bottom: 2px;
	margin-left: 8px;
	font-weight: 400;
	font-size: .75em;;
}

.full-name {
	display: flex;
	gap: 8px;
	width: 100%;
	align-items: center;
}

/* .full-name input {
	width: 95%;
	height: 20px;
	width: .45vw;
} */

textarea {
	font-family: inherit;
	min-height: 6rem;
}

.submit-button {
	border: none;
	border-radius: 12px;

	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	
	background-color: #b5d99c;

	padding: 15px 32px;
	margin-top: 8px;

	cursor: pointer;
	
}
.close-button {
	position: absolute;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
	width: 25px;
	height: 20px;
	right: 3%;
	top: 1%;

}

.form-group {
	display: flex;
	flex-direction: column;
	margin: 5px 0 ;
}

input, select, textarea {
	padding: 0.5rem 0.5rem;
	font-family: inherit;
	border-radius: 10px;
	border: 1px #ccc solid;
	/* border-bottom: 1px black solid;
	border-right: 1px black solid; */
	width: 100%;
	box-sizing: border-box;
}