
.JournalEntryList ul{
	display: flex;	
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	/* max-width: 1200px; */
}

.JournalEntryList ul li{
	flex: 1 1 45%;
	background-color: white ;
	border-radius: 16px;
	overflow: hidden;
}

/* .JournalEntryList ul li:last-child{
	flex: 0 0 31%;
} */