.JournalEntry {
    /* border: 2px solid #333333; */
    margin-bottom: 5px;
		background-color: #333333;
		/* background-color: #707070; */
    height: 200px;
    overflow: hidden;
		text-overflow: ellipsis;
		
}

h2, h3, h4 {
    text-align: center;
    /* color: #008000; */
}

.force-ellipsis {
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

